{% extends 'accounts/main.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<a href="{% url 'baralho_create' %}" class="criar-baralho">Criar Baralho</a>
<div class="container">
    <div class="deck_card">        
        <div class="deck-list">
            {% for baralho in baralhos %}
                <div class="card">
                    <a href="{% url 'baralho_update' baralho.id %}" class="btn-edit">E</a> 
                    <h3 class="baralho-title">{{ baralho.title }}</h3>
                    <a href="{% url 'baralho_detail' baralho.id %}" class="btn btn-primary">Flash Cards</a>
                    
                    <button class="btn btn-danger" onclick="showModal({{ baralho.id }}, '{{ baralho.title }}')">X</button>
                </div>
            {% empty %}
                <p style="text-align: center;">Você ainda não possui nenhum baralho.</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal de confirmação -->
<div id="confirmModal" class="modal">
    <div class="modal-content">
        <p id="modalText">Tem certeza que deseja excluir o baralho?</p>
        <div class="modal-buttons">
            <button class="btn btn-secondary" onclick="hideModal()">Cancelar</button>
            <form id="deleteForm" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn-modal">Confirmar</button>
            </form>
        </div>
    </div>
</div>

<script>
    function showModal(baralhoId, baralhoTitle) {
        const modal = document.getElementById('confirmModal');
        const modalText = document.getElementById('modalText');
        modalText.textContent = `Tem certeza que deseja excluir o baralho "${baralhoTitle}"?`;

        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = `/baralho/delete/${baralhoId}/`;

        modal.style.display = 'flex';
    }

    function hideModal() {
        const modal = document.getElementById('confirmModal');
        modal.style.display = 'none';
    }
</script>
{% endblock %}
