<br>

<div class="row">
 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="nota-basicos">
      <div class="card-header">
       <h5 class="card-title">Conhecimentos Básicos</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{nota_basicos}}</h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="nota-especificos">
      <div class="card-header">
       <h5 class="card-title">Conhecimentos Específicos</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{nota_especificos}}</h3>
      </div>
   </div>
  </div>
 </div>

 <div class="col">
  <div class="col-md">
   <div class="card text-center text-white  mb-3" id="nota-final">
      <div class="card-header">
       <h5 class="card-title">Nota Final</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{nota_final}}</h3>
      </div>
   </div>
  </div>
 </div>
</div>
<h2>Transformar a home em uma lista dos concursos?</h2>