{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/baralhos/foruns.css' %}">

</style>

<div class="container">
    <h2>Excluir Baralho</h2>
    <p>Tem certeza de que deseja excluir o baralho "{{ baralho.title }}"?</p>
    <form method="POST">
        {% csrf_token %}
        <div style="display: flex; justify-content: space-between;">
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
